<!DOCTYPE html>
<html lang="en">

<body>
    <form action="/exchange/store" method="post">
    From: <input type="text" name="KursFrom" required></input><br>
    To: <input type="text" name="KursTo" required></input><br>
    <button type="submit">Save</button>
    </form>
</body>

</html>