<!DOCTYPE html>
<html lang="en">

<body>
    <a href="/exchange/create">Create</a> | <a href="/">Home</a>
    <table border="1">
        <thead>
            <th>From</th>
            <th>To</th>
            <th>Trend</th>
            <th>Delete</th>
        </thead>

        <!-- FOREACH -->
        <% data.forEach(function(val) { %>
        <tr>
            <td><%= val.KursFrom %></td>
            <td><%= val.KursTo %></td>
            <td>
                <a href="/trend/<%= val.KursId %>">Trend</a>
            </td>
            <td>
                <a href="/exchange/delete/<%= val.KursId %>">Delete</a>
            </td>
        </tr>
        <% }) %>
    </table>
</body>

</html>