<!DOCTYPE html>
<html lang="en">
<% var total=0, max=0, min=null; %>
<body>
    <a href="/">Home</a><br><br>
    <% if (data.length){ %>
    <table border="1">
        <thead>
            <th>Date</th>
            <th>Rate</th>
        </thead>

        <!-- FOREACH -->
        <%  data.forEach(function(val) { 
            total+=val.Rate;
            max < val.Rate ? max = val.Rate : '' ;
            min > val.Rate || min == null ? min = val.Rate : '' %>
        <tr>
            <td><%= val.Dates %></td>
            <td><%= val.Rate %></td>
        </tr>
        <% }) %>
    </table>
    From: <%= data[0].KursFrom %><br>
    To: <%= data[0].KursTo %><br>
    Average: <%= total / data.length %><br>
    Variance: <%= max - min %>
    <% } %>
</body>

<script>
    function formattedDate(d = new Date) {
        let month = String(d.getMonth() + 1);
        let day = String(d.getDate());
        const year = String(d.getFullYear());

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        document.td.innerHTML = `${day}/${month}/${year}`;
    }
</script>
</html>