<!DOCTYPE html>
<html lang="en">

<body>
    <%= message ? message : '' %><br>
    <form action="/rates/store" method="post">
    Date: <input type="date" name="Dates" required></input><br>
    Exchange Rate: <select name="KursId">
        <% data.forEach(function(val) { %>
            <option value="<%= val.KursId %>"><%= val.KursFrom %> -> <%= val.KursTo %></option>
        <% }) %>
    </select><br>
    Rate: <input type="text" pattern="[+-]?([0-9]*[.])?[0-9]+" name="Rate" required></input><br>
    <button type="submit">Save</button>
    </form>
</body>

</html>