<!DOCTYPE html>
<html lang="en">

<body>
    <a href="/rates/create">Create</a> | <a href="/">Home</a><br><br>

    Date: <input type="date" name="Dates" id="dates" value="<%= dates %>"><br>
    <button onclick="myFunction()">Submit</button>
    <table border="1">
        <thead>
            <th>From</th>
            <th>To</th>
            <th>Rate</th>
            <th>7-day avg</th>
        </thead>

        <% if(data) { %>
            <!-- FOREACH -->
            <% data.forEach(function(val) { %>
            <tr>
                <td><%= val.KursFrom %></td>
                <td><%= val.KursTo %></td>
                <td><%= val.Rate ? val.Rate : 'insufficient data' %></td>
                <td><%= val.Average7days ? val.Average7days : 'insufficient data' %></td>
            </tr>
            <% }) 
        } %>
    </table>
</body>

<script>
    function myFunction()
    {
        var dates = document.getElementById('dates').value;
        window.location = "/rates/average/"+dates;
    }
</script>
</html>